In [89]:
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np

In [90]:
explanation = pd.read_csv(
    filepath_or_buffer='dataset/vg_data_dictionary.csv'
)

df = pd.read_csv(
    filepath_or_buffer='dataset/vgchartz-2024.csv'
)

In [91]:
explanation.head(n=10)

          Field                                 Description
0           img    URL slug for the box art at vgchartz.com
1         title                                  Game title
2       console           Console the game was released for
3         genre                           Genre of the game
4     publisher                       Publisher of the game
5     developer                       Developer of the game
6  critic_score                Metacritic score (out of 10)
7   total_sales          Global sales of copies in millions
8      na_sales  North American sales of copies in millions
9      jp_sales        Japanese sales of copies in millions

In [92]:
df.head(3)

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN

In [93]:
# It seems that we are not goign to work with images.
# Thus, I am dropping it.
df.drop(
    labels='img',
    axis=1, 
    inplace=True)

In [94]:
df.head()

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

In [95]:
# General info about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         64016 non-null  object
 1   console       64016 non-null  object
 2   genre         64016 non-null  object
 3   publisher     64016 non-null  object
 4   developer     63999 non-null  object
 5   critic_score  6678 non-null   float64
 6   total_sales   18922 non-null  float64
 7   na_sales      12637 non-null  float64
 8   jp_sales      6726 non-null   float64
 9   pal_sales     12824 non-null  float64
 10  other_sales   15128 non-null  float64
 11  release_date  56965 non-null  object
 12  last_update   17879 non-null  object
dtypes: float64(6), object(7)
memory usage: 6.3+ MB

In [ ]:
# Detecting the number of NaN values per column. 
df.isnull().sum()

title               0
console             0
genre               0
publisher           0
developer          17
critic_score    57338
total_sales     45094
na_sales        51379
jp_sales        57290
pal_sales       51192
other_sales     48888
release_date     7051
last_update     46137
dtype: int64

## Analysis

In [19]:
df.sample(1)

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
6595,NCAA Basketball 09,X360,Sports,EA Sports,EA Canada,NaN,0.22,0.2,NaN,NaN,0.02,2008-11-17,NaN

In [20]:
# Finding the total worldwide sales (total_sales) 
# for all games in the dataset.
worldwide_sales = df['total_sales'].sum()
print(f"Total sum of sales in millions: {np.round(worldwide_sales)}")

Total sum of sales in millions: 6606.0

In [30]:
# Calculating the average critic score (critic_score) for all games. 
# NULL values will be excluded from the result.
avg_critic_score = df.groupby('title') \
                     .agg({'critic_score': 'mean'}) \
                     .dropna()
avg_critic_score.sample(10)

                                critic_score
title
Super Mario 3D Land                     8.90
Breach                                  5.85
The BIGS 2                              6.55
Amnesia: The Dark Descent               8.70
Gran Turismo 2                          9.20
Super Mario Maker                       8.05
7 Wonders of the Ancient World          5.40
The Sum of All Fears                    3.20
Ninja Gaiden 3: Razor's Edge            6.50
Venetica                                5.40

In [51]:
# Finding the best possible critic score (critic_score) in the entire dataset.
best_sritic_score = df[df['critic_score'] == 10.0]
best_sritic_score.head(3)

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
16,Grand Theft Auto IV,X360,Action,Rockstar Games,Rockstar North,10.0,11.09,6.80,0.14,3.11,1.04,2008-04-29,NaN
19,Grand Theft Auto IV,PS3,Action,Rockstar Games,Rockstar North,10.0,10.57,4.79,0.44,3.73,1.62,2008-04-29,NaN
1191,Red Dead Redemption: Undead Nightmare,PS3,Action,Rockstar Games,Rockstar San Diego,10.0,1.18,0.47,0.06,0.45,0.19,2010-11-23,NaN

In [41]:
# Counting the number of distinct publishers (publisher) in the dataset.
disticnt_publisher = df[df['publisher'] != 'Unknown']['publisher'].nunique()
print(f"Total number of distinct publishers: {disticnt_publisher}")

Total number of distinct publishers: 3382

In [45]:
# For each genre (genre), how many games there are.
games_per_genre = df.groupby('genre') \
                    .agg({'title': 'count'}) \
                    .sort_values(by='title', ascending=False)
games_per_genre

                  title
genre
Misc               9304
Action             8557
Adventure          6260
Role-Playing       5721
Sports             5586
Shooter            5410
Platform           4001
Strategy           3685
Puzzle             3521
Racing             3425
Simulation         3158
Fighting           2367
Action-Adventure   1877
Visual Novel        493
Music               297
Party               151
MMO                 115
Education            35
Board Game           33
Sandbox              20

In [57]:
# Showing the total sales (total_sales) for each console (console).
sales_per_console = df.groupby('console') \
                      .agg({'total_sales': 'sum'}) \
                      .sort_values(by='total_sales', ascending=False)
sales_per_console.head()

         total_sales
console
PS2          1027.76
X360          859.79
PS3           839.70
PS            546.25
PS4           539.92

In [62]:
# Calculating the average sales in North America (na_sales) for each genre (genre).
sales_per_genre_na = df.groupby('genre') \
                       .agg({'total_sales': 'sum'}) \
                       .sort_values(by='total_sales', ascending=False)
sales_per_genre_na.head(3)

         total_sales
genre
Sports       1187.51
Action       1125.89
Shooter       995.50

In [74]:

top_publishers = df.dropna(subset='publisher') \
                   .groupby('publisher') \
                   .agg(unique_titles=('title', 'nunique')) \
                   .sort_values(by='unique_titles', ascending=False) \
                   .drop(labels='Unknown')

top_publishers

                             unique_titles
publisher
Sega                                  1486
Microsoft                             1268
Nintendo                              1217
Konami                                1172
Sony Computer Entertainment           1093
...                                    ...
GameTap                                  1
Pi Arts                                  1
GameUS Inc.                              1
Game Republic                            1
Phoenix Labs                             1

[3382 rows x 1 columns]

In [82]:
# Task:
# For each console (console), I have to find the highest critic score (critic_score) 
# any game on that platform received.

In [83]:
df['genre'].unique()

array(['Action', 'Shooter', 'Action-Adventure', 'Sports', 'Role-Playing',
       'Simulation', 'Racing', 'Music', 'Misc', 'Fighting', 'Platform',
       'Adventure', 'Strategy', 'Puzzle', 'MMO', 'Sandbox', 'Party',
       'Education', 'Board Game', 'Visual Novel'], dtype=object)

In [88]:
# Calculating the total sales in Japan (jp_sales) 
# only for games in the 'Role-Playing' genre.
total_sales_in_rp_japan = df[df['genre'] == 'Role-Playing']['jp_sales'].sum()
print(f'The Total sales of Role-Playing games in Japan: {np.round(total_sales_in_rp_japan)}')

The Total sales of Role-Playing games in Japan: 131.0

In [101]:
df.sample(1)

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
47514,Need for Speed Heat,PC,Racing,Electronic Arts,Ghost Games,8.0,NaN,NaN,NaN,NaN,NaN,2019-11-08,2019-10-01

In [113]:
# Ranking the consoles (console) based on their total worldwide sales (total_sales).
# Will show the console name and its rank (1st, 2nd, 3rd, etc.)

console_rating = df.groupby('console').agg({'total_sales': 'sum'})
console_rating['rank'] = console_rating['total_sales'].rank(
    method='dense',
    ascending=False
)
console_rating = console_rating.sort_values(by='rank', ascending=True)
console_rating

         total_sales  rank
console
PS2          1027.76   1.0
X360          859.79   2.0
PS3           839.70   3.0
PS            546.25   4.0
PS4           539.92   5.0
...              ...   ...
WinP            0.00  38.0
XS              0.00  38.0
ZXS             0.00  38.0
iOS             0.00  38.0
iQue            0.00  38.0

[81 rows x 2 columns]

In [127]:
"""
The Perfect Storm
- The critic_score is greater than 9.0.
- The total_sales are greater than 5 million.
- No single region (na_sales, jp_sales, pal_sales, other_sales) 
    accounts for more than 60% of the total_sales.
"""

perfect_storm = df[
    (df['critic_score'] >= 9.0) 
    & 
    (df['total_sales'] >= 5)
    & 
    (df['jp_sales'] <= df['total_sales'] * 0.6)
    & 
    (df['na_sales'] <= df['total_sales'] * 0.6)
    & 
    (df['pal_sales'] <= df['total_sales'] * 0.6)
    & 
    (df['other_sales'] <= df['total_sales'] * 0.6)
]
perfect_storm

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update,na_share
0,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN,NaN
1,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03,0.312532
2,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN,NaN
7,Red Dead Redemption 2,PS4,Action-Adventure,Rockstar Games,Rockstar Games,9.8,13.94,5.26,0.21,6.21,2.26,2018-10-26,2018-11-02,0.377331
13,Grand Theft Auto III,PS2,Action,Rockstar Games,DMA Design,9.5,13.10,6.99,0.30,4.51,1.30,2001-10-23,NaN,NaN
18,Call of Duty: Modern Warfare 2,PS3,Shooter,Activision,Infinity Ward,9.5,10.61,4.99,0.38,3.66,1.59,2009-11-10,NaN,NaN
19,Grand Theft Auto IV,PS3,Action,Rockstar Games,Rockstar North,10.0,10.57,4.79,0.44,3.73,1.62,2008-04-29,NaN,NaN
27,The Elder Scrolls V: Skyrim,X360,Role-Playing,Bethesda Softworks,Bethesda Game Studios,9.3,8.88,5.10,0.10,2.83,0.85,2011-11-11,2018-04-01,NaN
28,Grand Theft Auto V,XOne,Action,Rockstar Games,Rockstar North,9.0,8.72,4.70,0.01,3.25,0.76,2014-11-18,2018-04-11,NaN
40,Battlefield 1,PS4,Shooter,Electronic Arts,EA DICE,9.1,7.26,2.20,0.29,3.65,1.12,2016-10-21,2018-03-24,0.303030
45,Medal of Honor: Frontline,PS2,Shooter,Electronic Arts,EA Los Angeles,9.0,6.83,2.93,0.17,2.75,0.99,2002-05-28,NaN,NaN
46,Uncharted 2: Among Thieves,PS3,Action,Sony Computer Entertainment,Naughty Dog,9.5,6.74,3.28,0.21,2.22,1.02,2009-10-13,NaN,NaN
47,Call of Duty 4: Modern Warfare,PS3,Shooter,Activision,Infinity Ward,9.5,6.72,3.13,0.28,2.27,1.04,2007-11-05,NaN,NaN
50,Red Dead Redemption,PS3,Action,Rockstar Games,Rockstar San Diego,9.5,6.57,2.82,0.17,2.58,1.00,2011-10-11,NaN,NaN
51,Red Dead Redemption,X360,Action,Rockstar Games,Rockstar San Diego,9.5,6.50,3.77,0.09,2.03,0.60,2010-05-18,NaN,NaN
53,The Elder Scrolls V: Skyrim,PS3,Role-Playing,Bethesda Softworks,Bethesda Game Studios,9.0,6.49,2.57,0.25,2.68,0.99,2011-11-11,2018-04-01,NaN
54,Minecraft,PS4,Misc,Sony Computer Entertainment,Mojang,9.4,6.33,1.89,0.35,3.13,0.96,2014-10-07,2018-09-14,0.298578
61,Tekken 2,PS,Fighting,Namco,Namco,9.1,5.74,2.26,1.36,1.89,0.23,1996-08-25,NaN,NaN
64,Assassin's Creed II,PS3,Action,Ubisoft,Ubisoft Montreal,9.0,5.57,2.54,0.21,1.95,0.86,2009-11-17,2018-01-03,NaN
66,Batman: Arkham City,PS3,Action,Warner Bros. Interactive,Rocksteady Studios,9.6,5.54,2.72,0.11,1.89,0.82,2011-10-18,NaN,NaN
67,Forza Motorsport 3,X360,Racing,Microsoft Game Studios,Turn 10 Studios,9.2,5.50,2.99,0.10,1.90,0.51,2009-10-27,NaN,NaN
73,Assassin's Creed II,X360,Action,Ubisoft,Ubisoft Montreal,9.1,5.30,3.14,0.08,1.55,0.52,2009-11-17,NaN,NaN